<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rectangle Area Calculator</title>
</head>
<body>
    <h1>
        Rectangle Area Calculator
    </h1>
    <h2>
        Error : Insert values in the fields !
    </h2>
    <form action="/App/rectangle" method="post">
        <div>
            <label for="height">Height :</label>
            <input type="number" id="height" name="height">
        </div>
        <div>
            <label for="width">Width :</label>
            <input type="number" id="width" name="width">
        </div>
        <div class="button">
            <button type="submit">Compute</button>
        </div>
    </form>
</body>
</html>