<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rectangle Area Calculator</title>
</head>
<body>
    <h1>
        Rectangle Area Calculator
    </h1>
    <h2>
        Error : The values are missing or under 0.
    </h2>
    <form th:action="@{/rectanglesession}" method="post">
        <div><label for="h">Height:</label>
            <input id="h" type="text" name="height"></div>

        <div><label for="w">Width:</label>
            <input type="text" id="w" name="width"></div>

        <div><button type="submit">Compute</button></div>
    </form>
</body>
</html>